body {
    background: #050b0f;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1600px;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 30px;
}

h1 span {
    color: #5eff37;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
}

.day {
    min-height: 150px;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #555;
}

.green {
    background: linear-gradient(#165f16, #0a330a);
}

.red {
    background: linear-gradient(#7c1515, #3a0707);
}

.gray {
    background: linear-gradient(#636b73, #353b40);
}

.date {
    font-size: 34px;
    font-weight: bold;
}

.trade {
    text-align: center;
    margin-top: 8px;
    font-size: 24px;
}

.total {
    margin-top: 12px;
    padding-top: 8px;
    border-top: 1px solid rgba(255,255,255,0.4);
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.summary {
    margin-top: 30px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.card {
    background: #0f1419;
    border: 1px solid #555;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}

.card-title {
    font-size: 20px;
    margin-bottom: 12px;
}

.card-value {
    font-size: 36px;
    font-weight: bold;
    color: #5eff37;
}
